.list-row {
    display: grid;
    width: 100%;
    grid-template-rows: 25% auto;
    grid-template-columns: 5% 65% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-areas:
        "clock notification-time complete-mark"
        ". description create-time";

    .clock {
        grid-area: clock;
        margin-left: 5px;
    }

    .notification-time {
        grid-area: notification-time;
    }

    .description {
        grid-area: description;
        white-space: pre-wrap;
    }

    .create-time {
        grid-area: create-time;
        justify-self: end;
        font-size: 12px;
        align-self: end;
    }

    .complete-mark {
        justify-self: end;
        grid-area: complete-mark;
        background-color: #17843c;
        border-radius: 5px;
        color: #fcfcfc;
        padding: 0 5px;
    }
}
.todo-item {
    padding: 5px;

    transition: box-shadow 0.2s;
    &:hover {
        box-shadow: 0px 0px 15px #b2b2b2;
        border: 1px solid blue !important;
    }

}
