.list-row {
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-columns: 20px auto 20px;
    grid-column-gap: 10px;
    grid-template-areas:
        "clock notification-time ."
        ". description .";
    .clock {
        grid-area: clock;
        margin-left: 5px;
    }

    .notification-time {
        grid-area: notification-time;
    }

    .description {
        grid-area: description;
    }
}
.todo-item {
    width: 95%;
    margin: 15px auto;
    background-color: #ffffff;

    transition: box-shadow 0.4s;
    &:hover {
        box-shadow: 2px 5px 5px #8c8c8c;
    }

    &.complete {
        background-color: #4f967a;
        color: white;
        font-weight: bold;
    }
}
