.todo-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 10% 15% 75%;
    grid-template-areas:
    " . . addButton"
    "filterButton sort-btn sort-btn"
    "listArea listArea listArea";

    .add-button {
        grid-area: addButton;
        justify-self: end;
    }

    .filter-button {
        grid-area: filterButton;
        padding: 10px;
    }

    .sort-btn {
        grid-area: sort-btn;
        padding-right: 10px;
        padding-bottom: 10px;
        align-self: flex-end;
        justify-self: end;
    }

    .lists-area {
        grid-area: listArea;
        background-color: #edf3ff;
        height: 100%;
    }

}
