.todo-container {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas:
    " . . addButton"
    "filterButton . . "
    "listArea listArea listArea";

    .add-button {
        grid-area: addButton;
    }

    .filter-button {
        grid-area: filterButton;
        padding: 10px;
    }

    .lists-area {
        grid-area: listArea;
        background-color: #f2f2f2;
    }

}
